@import url('https://fonts.googleapis.com/css2?family=Forum&family=Mukta&display=swap');
body{
  font-family: 'Forum',Helvetica, Sans-serif;
}
.book,.join{
  font-family: "Mukta";
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #a1cdf4;
  text-decoration: none;
  padding:15px 30px;
}
#content{
  max-width: 1600px;
  margin: 0 auto;
}
nav a{
  text-align: center;
  color: #003049;
  text-decoration: none;
  padding: 35px;
}
.button-box{
  text-align: center;
}
main section{
  text-align: center;
} 
#background{
    height:725px;
    background-color: #fcfbfb;
}
body{  
    background-color: #fcfbfb; 
    padding: 0;
    margin: 0;
}
header{
    background-color:#003049;
    display:grid;
    grid-template-columns: 150px auto;
    font-family: 'Forum',Helvetica,sans-serif;
}
nav a:hover{
    background-color: black;
    color: #fcfbfb;
}
.msg{
    background-color: #bcbd8b;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row:6/7;
    box-shadow: 5px 5px 10px #bcbd8b;
}
footer{
    background-color: #a1cdf4;
    padding:25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.book:hover,.join:hover{
    background-color: black;
    text-decoration: none;
    color: #fcfbfb;
}
footer a{
    background-color: #bcbd8b;
    text-decoration: none;
    color: #776258;
}
footer a:hover{
    color: #776258;
}
footer p{
    text: 1.2em
}
footer p a:hover{
    text-decoration: underline;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.home-title{
    color: #a1cdf4;
    font-family: "Forum";
    font-size: 2em;
    margin-top: 10px;
}
.msg p{
    color: #776258;
    font-size: .8em;
    padding-bottom:  15px;
}
footer h3{
    color: #776258;
}
.logo{
    width: 80px;
}
footer .social img{
    padding-top: 15px;
}
#logo_link{
    padding-top: 5px;
    justify-self:center;
    align-self:center;
}
nav{
    display: flex;
    justify-content: space-around;
}  
main{
    display: grid;
    grid-template-columns:100px 100px 100px 100px;
}
.review-1{
    grid-column:1;
    grid-row:2;
    text-align: center;
    width: 100%;
}
.review-2{
    grid-column:2;
    grid-row: 2;
    text-align: center;
    width: 100%;
}
.review-3{
    grid-column:3;
    grid-row: 2;
    text-align: center;
    width: 100%;
}
.review-4{
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    width: 100%;
}
.reviews{
    text-align: center;
    grid-column: 2/4;
    grid-row: 1;
}
h3{
    text-align: center;
}
nav, footer {
    flex-direction: column;
}
nav a {
    display: block;
    padding: 15px;
}
.home-title {
    font-size: 25px;
    color: #6f7364;
}
#background{
    display: none;
}
.childpgbanner{
    width: 100%;
}
footer {
    margin-top: 25px;
}
    </footer>
    </div>
</body>