header {
    background-color:#e9edc9;
    display:grid;
    grid-template-columns: 150px auto;
    font-family: Helvetica,sans-serif;
}
#background{
    background-color: #fcfbfb;
  }
footer{
    background-color: #4C6663;
    margin-top: 200px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
footer a{
    background-color: #A37A74;
    text-decoration: none;
    color: #E9EDC9;
}
#middle{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cabin-pic{
    grid-column: 2;
    grid-row: 2
}
.middle-text{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}
#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.alpacas{

}