header {
    background-color:#4C6663;
    display: grid;
    grid-template-columns: auto;
    font-family: Helvetica,sans-serif;
    color: #fcfbfb;
    width:100%;
    text-decoration: none;
}
.logo{
    width: 100px;
    height: 100px;
}
#background{
    color: #E9EDC9;
}
footer{
    background-color: #4C6663;
    margin-top: 200px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#middle{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#cabin-pic{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 15%;
}
#middle-text{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    background-color: #E9EDC9;
    margin-bottom: 150px;
    padding-top: 15%;
}
#middle h2{
    text-align: center;
}
#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#alpacas{
    grid-column: 1/2;
}
#bottom-right{
    grid-column: 2/3;
}
footer a{
    background-color: #A37A74;
    text-decoration: none;
    color: #E9EDC9;
}